@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;

}
body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
       
}

a{
    text-decoration:none ;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 20px;
    margin-top: 5px;
    line-height: 30px;
    font-weight: 300px;
    letter-spacing: .5px;
    color: black;
    
}

.section-title{
    font-size: 50px;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.section-title span{
    color: #12343B;
}

#contact .section-title span {
    color: #C89666;
}

#about .section-title span {
    color: #C89666;
}

.button{
    position:relative;
    display: inline-block;
    padding: 20px 30px;
    color: white;
    background-color: transparent;
    border: 3px solid #12343B; 
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 30px;
    transition: .3s ease;
    /*transition-property: background-color, color;*/
    border-radius: 20px;

}
.button:hover{
    color: black;
    background-image: linear-gradient(40deg, #E1B382 0%, #12343B 100%);
    transform: scale(1.1);
}



#services {
    background: linear-gradient(35deg, #C89666 0%, #12343bae 100%) ;
}

#Experience{
    background: linear-gradient(35deg, #12343bae 0%, #C89666 100%) ;
}

#about{
    background: linear-gradient(35deg, #2D545E 0%, #1d1e22e6 100%) ;
}

#contact{
    background: linear-gradient(35deg, #1d1e22e6 0%, #2D545E 100%) ;
}

/*start of Header Section*/
#header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: auto;
}

#header img{
    width: 90px;
}

#header .header{
    min-height: 20px;
    background-color:#1f1e1e3d;
  /*  transition: .3s ease background-color;*/
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}



#header .nav-list ul{
    list-style: none;
    position: absolute;
    left:  100%;
    top: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    
}

#header .nav-list ul a{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 7px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}




#header .nav-list ul li:hover a{
    color: #C89666;
    background: linear-gradient(35deg, #2d545ea5 0%, #1d1e22a8 100%) ;
    border-radius: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 4px solid #C89666;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transform: scale(.6);
    margin-right: 25px;
}

#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #C89666;
    animation: hamburger_puls 3s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #C89666;
    
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #C89666;
    
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

/*End of Header Section*/

/*start of group1*/
#group1{
    background-image: url(../images/my\ img\ \(1\).JPG);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#group1::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#group1 .group1{
    max-width: 1200px;
    margin: 0;
    padding: 0 50px;
    justify-content: start;
}


#group1 h1{
    display: block;
    width: fit-content;
    width: 14rem;
    font-size: 30px;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s; 
}

#group1 h1:nth-child(1){
    animation-delay: 1s;
}

#group1 h1:nth-child(2){
    animation-delay: 2s;
}

#group1 h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#group1 h1 span{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #E1B382;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s ;

}   

#group1 h1:nth-child(1) span{
    animation-delay: .5s;
}

#group1 h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#group1 h1:nth-child(3) span{
    animation-delay: 2.5s;
}



/*end of group1*/

/*Start of Services Section*/
#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px; 
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top{
    max-width: 500px;
    margin: 0 auto;
}
#services .service-bottom {
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border: 3px solid #12343b25;
    border-radius: 40px;    
    margin: 10px 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%,  #C89666 100%);
    opacity: .9;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p{
    color: white;
    text-align: left;
} 

/*End of Services Section*/

/*Start of Project Section*/
#Experience .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    
}

#Experience .projects-header h1{
    margin-bottom: 50px;
}

#Experience .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Experience .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 100px;
    border: 3px solid #12343b33;
}

#Experience .projects-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #E1B382 0%, #12343B 100%);
    color: black;
}

#Experience .projects-info h1{
    font-size: 2rem;
    font-weight: 500;
}

#Experience .projects-info h2{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}

#Experience .projects-info p{
    color: black;
    font-size: 0.7rem;
}

#Experience .projects-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#Experience .projects-img::after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
opacity: .4;
}

#Experience .projects-img img{
    transition: 0.7s ease transform;
}

#Experience .project-item:hover .projects-img img{
    transform: scale(1.1);
}

/*End of Project Section*/

/*Start of About me Section*/
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 360px;
}

#about .col-right{
    width: 100%;
}

#about .col-right h1{
    font-weight: 500;
}

#about .col-right h2{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

#about .col-right p{
    margin-bottom: 20px;
}

#about .col-right .button{
    color: linear-gradient(#000000 0%, #ffffff 100%) ;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #C89666;
    border-radius: 50px;
}

#about .col-left .about-img img{
    border-radius: 40px;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #000000;
    z-index: -1;
    border-radius: 50px;
}

/*End of About me Section*/

/*Start of Contact Section*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;  
    margin: 0 auto;
    
}

#contact .contact-items{
    width: 320px;
     
}

#contact .contact-item{
    background: linear-gradient(35deg, #E1B382 0%, #485563 100%) ;
    width: 80%;
    text-align: center;
    border-radius: 50px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px 0 #ffffffc1;
    transition: .3s ease box-shadow;
 
}

#contact .contact-item:hover{
    box-shadow: 0 0 100px 0 #E1B382;  

}

#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 700;

}

#contact .contact-item{
    transition: transform .3s ease;
}

#contact .contact-item:hover{
    transform: scale(1.1);
}
/*End of Contact Section*/

/*Start of footer section*/  
#footer .brand img{
    width: 150px;
    
}
#footer .social-icon img{
    transition: transform .3s ease;
}

#footer .social-icon img:hover{
    transform: scale(1.5);
}

#footer{
    background-color: #1D1E22;
}

#footer .footer{
    min-height: 300px;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
}
#footer h2{
    font-size: 1rem;
    font-weight: 900;
    color: #E1B382;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer p{
    color: #E1B382;
    font-weight: 900;
    letter-spacing: 15px;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 20px;
}

#footer .social-item{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

/*End of footer section*/

/*Keyframes*/
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box{
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}

@keyframes text_reveal_name{
    100%{
        color: #C89666;
        font-weight: 500px;
    }
}



/*Keyframes*/


/* Start of Media Query for tablet*/
@media only screen and (min-width: 770px){
    .button{
        font-size: 2.5rem;
        padding: 15px 50px;
    }

    h1.section-title{
        font-size: 5rem;
    }
    /*Start of Group1 Section*/
    #group1 h1{
        font-size: 3rem;
    }
    /*endd of Group1 Section*/

    /*Start of services Section*/
    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /*End of services Section*/

    /*Start of projects Section*/
    #Experience .project-item{
        flex-direction: row;
    }

    #Experience .project-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #Experience .project-item{
        height: 400px;
        margin: 5px;
        width: 100%;
        border-radius: 50px;
        
    }

    #Experience .all-projects .projects-info{
        height: 100%;
    }

    #Experience .all-projects .projects-img{
        height: 100%;
    }
    /*End of projects Section*/

    /*Start of About Section*/
    #about .about{
        flex-direction: row;
    }

    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 50px;
    }

    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #000000;
    }

    #about .col-right{
        text-align:left ;
        padding: 30px;
    }

    #about .col-right h1{
        text-align: left;
        font-size: 3rem;
    }
    /*End of About Section*/

    /*Start of Contact Section*/
    #contact .contact-items{
        flex-direction: column;
        padding: 100px 0 ;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 20px;
    }

    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
    }

    #contact .contact-item .icon{
        height: 80px;
        width: 80px;    
    }

    #contact .contact-item .icon img{
        object-fit: contain;
    }

    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /*End of Contact Section*/
}    
/* End of Media Query for tablet*/

/* Start of Media Query for PC*/
@media only screen and (min-width: 1200px){
    #header .hamburger{
        display: none;
    }

    #header .nav-list ul{
        padding: 0 60px;
        position: initial;
        display: block;
        height: auto;   
        width:max-content;
        background-color: transparent;
    }

    #header .nav-list ul a:after{
        display:none;
        
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 20px;
    }

    #services .service-bottom .service-item{
        flex-basis: 420px;
        margin: 20px;
    }
}
/* End of Media Query for PC*/

@media only screen and (max-width:850px) {
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-link {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #C89666;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-link li {
        margin: 30px auto;
    }
} 



